* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

figure img{
    width: 100%;
}

.topnav {
    overflow: hidden;
    background-color: #333;

}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: x-small;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #ffde00;
    color: rgb(1, 1, 0);
}

.program{
    text-align: center;
}

.h1 {
    text-align: center;
}

.h3 {
    text-align: center;
}

.udd {
    margin: 10px;
}
